body{
    background-color: #2D2C2C;
}
.dottedBoxImage{
    margin-top: 22rem;
    margin-left: 26rem;
}

.over_lay img:hover{
    transform: scale(1.2);
}

.over_lay img{
    transition: all 0.2s ease-in-out;
}